{% extends "base.html" %}
{% block base %}

    <div style="height: 800px; background-image: url(https://image.baidu.com/search/detail?ct=503316480&z=undefined&tn=baiduimagedetail&ipn=d&word=%E7%BD%91%E7%AB%99%E8%83%8C%E6%99%AF%E5%9B%BE%E7%89%87%E7%B4%A0%E6%9D%90&step_word=&ie=utf-8&in=&cl=2&lm=-1&st=undefined&hd=undefined&latest=undefined&copyright=undefined&cs=15166193,3024130028&os=2608048878,2003029794&simid=4284832678,783324746&pn=3&rn=1&di=137830&ln=1498&fr=&fmq=1603077162726_R&fm=&ic=undefined&s=undefined&se=&sme=&tab=0&width=undefined&height=undefined&face=undefined&is=0,0&istype=0&ist=&jit=&bdtype=0&spn=0&pi=0&gsm=0&hs=2&objurl=http%3A%2F%2Fpic73.nipic.com%2Ffile%2F20150723%2F21480080_181244908000_2.jpg)">
        <div class=" container" style="width: 300px">
            <form class="form-signin" action="/index/" method="post">
                <h2 class="form-signin-heading" style="text-align: center">
                    接口测试平台
                </h2>
                <label for="inputUsername" class="sr-only">账号</label>
                <input type="text" id="inputUsername" name="username" class="form-control" placeholder="username">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
                <div id="error" style="color:red">{{ error }}</div>
                {% csrf_token %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            </form>
        </div>
    </div>

{% endblock %}